


<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>
        
        
    </title>
    <link rel="stylesheet" type="text/css" href="/static/back/css/style.css">
    <script src="/static/back/js/jquery.js"></script>
    <script src="/static/back/js/jquery.mCustomScrollbar.concat.min.js"></script>
</head>
<body>

<header>
    <h1><img src="/static/back/images/admin_logo.png"/></h1>
    <ul class="rt_nav">
        <li><a href="/" target="_blank" class="website_icon">站点首页</a></li>
        <li><a href="#" class="set_icon">账号设置</a></li>
        <li><a href="login.html" class="quit_icon">安全退出</a></li>
    </ul>
</header>

    <aside class="lt_aside_nav content mCustomScrollbar">
        <h2><a href="/home/index/">博客后台</a></h2>
        <ul>
            <li>
                <dl>
                    <dt>博客管理</dt>
                    <!--当前链接则添加class:active-->
                    <dd><a href="{{ url_for('back.a_type')}}">博客分类</a></dd>
                    <dd><a href="{{ url_for('back.article_list')}}">博客列表</a></dd>
                </dl>
            </li>
            <li>    
                <dl>
                    <dt>用户管理</dt>
                    <dd><a href="user_list.html">用户列表</a></dd>
                </dl>
            </li>
            </ul>
    </aside>

    <style>
    .dataStatistic{width:400px;height:200px;border:1px solid #ccc;margin:0 auto;margin:10px;overflow:hidden}
    #cylindrical{width:400px;height:200px;margin-top:-15px}
    #line{width:400px;height:200px;margin-top:-15px}
    #pie{width:400px;height:200px;margin-top:-15px}
    </style>




<section class="rt_wrap content mCustomScrollbar">
    <div class="rt_content">
        <div class="page_title">
            <h2 class="fl">博客列表</h2>
            <a href="{{ url_for('back.addblog')}}" class="fr top_rt_btn add_icon">添加博客</a>
        </div>
        <table class="table">
            <tr>
                <th>博客名称</th>
                <th>博客分类</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            {% for i in blogall %}
                <tr>
                    <td class="center">{{ i.title }} <img src="/static/back/media/goods/images/goods023.png" width="50" height="50" alt="" /></td>

                    <td class="center">{{ i.b.f_name }} </td>

                    <td class="center">
                        {{ i.creste_date}}
                    </td>
                    <td class="center">
                        <a href="{{ url_for('back.addblog1',id=i.id) }}" onclick="" title="编辑" class="link_icon">&#101;</a>
                        <a href="{{ url_for('back.del_blog',id=i.id) }}" onclick="" title="删除" class="link_icon">&#100;</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <aside class="paging">
            <a>当前1页</a>
            <a href="">第一页</a>
            
                <a href=""> 1 </a>
            
                <a href=""> 2 </a>
            
                <a href=""> 3 </a>
            
            <a href="">最后一页</a>
        </aside>
    </div>
</section>



</body>
</html>